<div>
  <div>
    <h1>
      List of all photos
    </h1>
  </div>
</div>
<% if session.fetch(:user_id) != nil %>
<form action="/insert_photo" method="post" enctype="multipart/form-data">
  <label for="browser_input">Image</label>
  <input id="browser_input" type="file" name="query_image" placeholder="Enter a URL for the image...">

  <label for="browser_caption">Caption</label>
  <textarea id="browser_caption" name="query_caption" placeholder="Enter a caption for the photo..."></textarea>

  <button>Add photo</button>
</form>
<% end %>
<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          Image
        </th>

        <th>
          Caption
        </th>

        <th>
          Owner
        </th>

        <th>
          Posted
        </th>

        <th>
          Like
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_photos.each do |a_photo| %>
      <% if a_photo.poster.private == false %>
      <tr>
        <td>
          <img src="<%= a_photo.image %>">
        </td>

        <td>
          <%= a_photo.caption %>
        </td>

        <td>
          <%= a_photo.poster.username %>
        </td>

        <td>
          <%= time_ago_in_words(a_photo.created_at) %> ago
        </td>
        
        <td>
          <%= a_photo.likes_count %>
        </td>

        <td>
          <% if session.fetch(:user_id) == nil %> 
          <a href="/users_details">
            Show details
          </a>
          <% else %>
          <a href="/photos/<%= a_photo.id %>">
            Show details
          </a>
          <%end%>
        </td>
      </tr>
      <% end %>
      <% end %>
    </table>
  </div>
</div>

<hr>
