<h1>
  Photo details
</h1>

<dl>
  <dt>Image</dt>
  <dd>
    <img src="<%= @the_photo.image %>">
  </dd>
  
  <dt>Caption</dt>
  <dd>
    <p><%= @the_photo.caption %></p>
  </dd>
    
  <dt>Owner</dt>
  <dd>
    <%= @the_photo.poster.username %>
  </dd>

  <dt>Posted</dt>
  <dd>
      <%= time_ago_in_words(@the_photo.created_at) %> ago
  </dd>

  <dt>Likes count</dt>
  <dd>
    <%= @the_photo.likes_count %>
  </dd>

  <dt>Comments count</dt>
  <dd>
    <%= @the_photo.comments_count %>
  </dd>

  <dt>Fans</dt>
  <dd>
  <% @the_photo.fans.each do |fan| %>
      <%= fan.username %>,  
  <%end%>
  </dd>

  <dt>Add a fan</dt>
  <dd>

    <form action="/insert_like" method="post">
      <input type="hidden" value="<%= @the_photo.id %>" name="query_photo_id">
      <button>Like</button>
    </form>
  </dd>

<% if session.fetch(:user_id) == @the_photo.poster.id %>
  <dt>Edit photo</dt>
  <dd>
    <form action="/update_photo/<%= @the_photo.id %>">
      <label for="browser_image">Image</label>
      <input id="browser_image" type="text" name="input_image" placeholder="Enter a URL for the image..." value="<%= @the_photo.image %>">

      <label for="browser_caption">Caption</label>
      <textarea id="browser_caption" name="input_caption" placeholder="Enter a caption for the photo..."><%= @the_photo.caption %></textarea>

      <button>Update photo</button>
    </form>
  </dd>
  <dt>Delete photo</dt>
  <dd>
    <a href="/delete_photo/<%= @the_photo.id %>;">
      Delete this photo
    </a>
  </dd>
<%end%>

<h2>Comments</h2>

<table>
  <tr>
    <th>Commenter</th>
    <th>Comment</th>
    <th>Posted</th>
  </tr>

  <% @the_photo.comments.each do |comment| %>
  <tr>
    <td>
      <%= comment.commenter.username %>
    </td>

    <td>
      <%= comment.body %>
    </td>

    <td>
      <%= comment.created_at %>
    </td>
  </tr>
  
  <% end %>
</table>

<h3>Add a new comment</h3>

<form action="/insert_comment_record" method="post">
  <input id="browser_photo_id" type="hidden" value="<%= @the_photo.id %>" name="input_photo_id">

  <label for="browser_comment">Comment</label>
  <textarea id="browser_comment" name="input_body" placeholder="Enter a comment..."></textarea>

  <button>Add comment</button>
</form>
